apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx
  labels:
    app: nginx
    tier: frontend
spec:
  replicas: {{ .Values.deployment.replicas }}
  minReadySeconds: 10
  progressDeadlineSeconds: 180
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
      
  selector:
    matchLabels:
      app: nginx
      tier: frontend
  template:
    metadata:
      labels:
        app: nginx
        tier: frontend
    spec:
      # ──────────────── App Container ────────────────
      terminationGracePeriodSeconds: 30
      containers:
        - name: nginx-frontend-cont
          image: "{{ .Values.image.imageName }}:{{ .Values.image.imageVersion }}"
          imagePullPolicy: IfNotPresent   # Always
          ports:
            - name: frontend
              containerPort: 80
              
          startupProbe:                
            tcpSocket:
              port: 80
            initialDelaySeconds: 10
            periodSeconds: 5
            timeoutSeconds: 5
            failureThreshold: 12
            
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 15
            periodSeconds: 5
            timeoutSeconds: 5
            failureThreshold: 3
            
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
          
---
apiVersion: v1
kind: Service
metadata:
  name: nginx
  labels:
    app: nginx
    tier: frontend
spec:
  type: NodePort
  selector:
    app: nginx
    tier: frontend
  ports:
    - name: nginx-frontend
      protocol: TCP
      port: 80
      targetPort: 80
      nodePort: 31000
